.contactContainer {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  min-width: 300px;
  padding: 15px;
}

.contactItem {
  display: flex;
  flex-direction: row;
}

.contactName {
  margin: 0;
  font-size: 22px;
}

.contactNumber {
  margin: 0;
}

.contactSvg {
  height: 20px;
  width: 20px;
  padding: 4px;
  margin-top: 4px;
  fill: #ffffff;
}
